<h1>記事の新規作成</h1>

<%= form_with(model: @article, url: users_articles_path, local: true, html: { multipart: true }) do |form| %>
  <div class="mb-3">
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :content, "内容" %>
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :image, "画像" %>
    <div class="input-group">
      <%= form.file_field :image, class: "form-control", style: "display: none;", id: "imageFile" %>
      <label for="imageFile" class="input-group-text">ファイルを選択</label>
    </div>
    <span id="fileName">選択されていません</span>
  </div>


  <div class="text-center">
    <%= form.submit "新規作成", class: "btn btn-primary" %>
  </div>
<% end %>

<script>
function updateFileName(input) {
  document.getElementById('fileName').innerText = input.files[0].name;
}
</script>

<%= link_to "戻る", dash_boards_index_path %>
