<h1 class="text-center">記事詳細</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-center">タイトル</th>
      <th class="text-center">内容</th>
      <th class="text-center">画像</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center"><%= @article.title %></td>
      <td class="text-center"><%= @article.content %></td>
      <td class="text-center"><%= image_tag @article.image.variant(resize_to_limit: [500, 500]) if @article.image.attached? %></td>
    </tr>
  </tbody>
</table>

<div class="text-center">
  <%= link_to "編集", edit_users_article_path(@article), class: "btn btn-success" %>
  <%= link_to "削除", users_article_path(@article), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
</div>

<div class="text-center mt-3">
  <%= link_to "記事一覧に戻る", users_articles_path, class: "btn btn-primary" %>
</div>
